.opening-modal {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
}
.section-hero {
  opacity: 1;
  transition: all 1s;
}

/* 
#CECECE
#797979
#E5E5E5
#D4D4D4
#C5C5C5

#000000
#1a1a1a
#333333
#4d4d4d
#666666
#808080
#999999
#b3b3b3
#cccccc
#e6e6e6
#ffffff
*/

body {
  width: 100vw;
  height: 100vh;
}
h1,
h2,
.explanation-title,
.mobile {
  font-family: "Satisfy", "Playfair Display", serif;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.figure,
p,
.press-to-enter {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.modal {
  position: absolute;
  background-color: #222;
  /* padding: 18rem; */
  width: 60vw;
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
}

.modal--title {
  font-size: 4.6rem;
  color: #cccccc;
  /* display: inline-block; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #808080;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: #1a1a1a;
  transition: all 0.5s;
  cursor: pointer;
  animation-name: moveDown;
  animation-duration: 1s;
}

@keyframes moveDown {
  0% {
    /* transform: translate(-50%, -100%); */
    opacity: 0;
    height: 0;
    /* width: 0; */
  }

  100% {
    /* transform: translateY(-50%, -50%); */
    opacity: 1;
  }
}

.modal:hover {
  background-color: #404040;
}

.press-to-enter {
  position: absolute;
  bottom: 3%;
  font-size: 4.8rem;
  display: inline-block;
}

.close-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: initial;
}
.what-is--div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#1a1a1a, #333333);
  transform: translate(-50%, -50%);

  transition: all 1s;
}
.what-is--image-box {
  box-shadow: inset 10px 20px 30px 1px rgba(1, 1, 1);
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: blue;
  transform: translate(0%, -50%);
  background-image: url("img/img1.jpg"), linear-gradient(#2a2a2a, #2a2a2a);
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}
.accent-div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}

.what-is--title-div {
  positon: absolute;
  width: 50%;
  height: 100%;
  padding: 2.4rem 9.8rem;
}

.what-is--title {
  margin-top: 12.8rem;
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  color: #b3b3b3;
}

.what-is--text,
.what-is--title {
  transition: all 0.5s;
}
.what-is--text {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #999;
}
.what-is--title:hover {
  color: #cccccc;
}

.what-is--text:hover {
  color: #b3b3b3;
}
.what-is--img-desc {
  font-size: 2.4rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  color: #b3b3b3;
}

.next-button {
  margin-top: 4.8rem;
  font-size: 3.2rem;
  padding: 1.2rem 4.8rem;
  /* width: 100%; */
  border-radius: 100px;
  color: #a9a9a9;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 0px 3px #a9a9a9;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Playfair-display";
}
.next-button:hover {
  color: #303030;
  background-color: #a9a9a9;
  /* box-shadow: inset 0px 0px 0px 3px #3f3030; */
}

.close-section {
  opacity: 0 !important;
  /* display: none !important; */
}

.section-how {
  position: absolute;
  width: 100vw;
  height: 125vh;
  opacity: 0;
  background-color: #2a2a2a;
  z-index: -1;
  transition: all 1s;
  /* visibility: hidden; */
  /* pointer-events: none; */
  display: none;
}

.how-div {
  max-width: 120rem;
  margin: auto 0;
  padding: 12.8rem;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
}

.how-title {
  font-size: 6.4rem;
  text-align: center;
  padding: 6.4rem;
  color: #b3b3b3;
  margin-top: 3.6rem;
  transition: all 0.5s;
}

.how-title:hover {
  color: #ccc;
}

.section-how-flex {
  display: flex;
}

.how-div {
  position: relative;
  z-index: 1;
}

.mindmap {
  border-radius: 40%;
  /* border: 4px solid #999; */
  box-shadow: inset 0 0 10px 1px #999;
  padding: 3.2rem 5.2rem;
  cursor: pointer;
  position: absolute;
  font-size: 2.4rem;
  top: 100%;
  z-index: 3;
  background-color: #2a2a2a;
  transition: all 0.5s;
}
.selected-mind {
  transform: scale(1.02) !important;
  /* border: 2px solid #ffd700 !important; */
  box-shadow: inset 0 0 10px 1px #ffd700;
}

.mindmap p {
  color: #999;
}

.mindmap[data-type="0"] {
  top: -10%;
  font-size: 4.8rem;
  left: 88%;
}

.mindmap[data-type="1"] {
  top: 40%;
  left: 12%;
}
.mindmap[data-type="2"] {
  top: 50%;
  left: 116%;
}
.mindmap[data-type="3"] {
  top: 90%;
  left: 88%;
}

.mindmap[data-type="4"] {
  top: 204%;
  left: 120%;
}
.mindmap[data-type="5"] {
  top: 130%;
  left: 10%;
}
.mindmap[data-type="6"] {
  top: 150%;
  left: 110%;
}
.mindmap[data-type="7"] {
  top: 150%;
  left: 200%;
}
.mindmap[data-type="8"] {
  top: 190%;
  left: 15%;
}
.connector {
  width: 4px;
  height: 50px;
  background-color: #999;
  position: absolute;
}
.connector[data-type="0"] {
  transform: rotate(45deg);
  left: 98%;
  top: 22%;
  z-index: 2;
  height: 75px;
}
.connector[data-type="1"] {
  transform: rotate(-81deg);
  left: 112%;
  top: 45%;
  height: 87px;
  z-index: 2;
}
.connector[data-type="2"] {
  transform: rotate(-163deg);
  left: 142%;
  top: 78%;
  height: 43px;
  z-index: 2;
}
.connector[data-type="3"] {
  transform: rotate(-146deg);
  left: 86%;
  top: 117%;
  heighft: 45px;
  z-index: 2;
}
.connector[data-type="4"] {
  transform: rotate(-195deg);
  left: 137%;
  top: 123%;
  height: 72px;
  z-index: 2;
}
.connector[data-type="5"] {
  transform: rotate(-167deg);
  left: 101%;
  top: 123%;
  height: 196px;
  z-index: 2;
}
.connector[data-type="6"] {
  transform: rotate(-189deg);
  left: 132%;
  top: 123%;
  height: 216px;
  z-index: 2;
}
.connector[data-type="7"] {
  transform: rotate(-223deg);
  left: 179%;
  top: 94%;
  height: 193px;
  z-index: 2;
}
.explanation {
  position: absolute;
  left: 50%;
  width: 50%;
  /* height: 100%; */
  padding: 2.4rem;
}
.explanation-title {
  /* position: absolute; */
  /* left: 50%; */
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  color: #a9a9a9;
  transition: all 0.5s;
  transition: all 0.5s;
}
.explanation-title:hover {
  color: #ccc;
}
.explanation-desc {
  font-size: 2.4rem;
  padding: 0 3.6rem 0 3.6rem;
  line-height: 1.5;
  transition: all 0.5s;
  color: #999;
}
.explanation-desc:hover {
  color: #b3b3b3;
}

.next-button.how {
  position: absolute;
  right: 5%;
  top: 7.5%;
}
.section-background {
  background-color: #2a2a2a;
}
.section-gallery {
  position: absolute;
  width: 100vw;
  height: 120vh;
  opacity: 0;
  background-color: #2a2a2a;
  z-index: -1;
  transition: all 1s;
  display: none;
  padding: 9.8rem 0 0 0;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.gallery-title {
  text-align: center;
  font-size: 6.4rem;
  margin-bottom: 6.4rem;
  color: #b3b3b3;
  transition: all 0.5s;
}
.gallery-title:hover {
  color: #ccc;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.gallery-figure {
  height: 20rem;
  width: 20rem;
  background-color: transparent;
  display: flex;
  overflow: hidden;
  border-radius: 24px;
  transition: all 1s;
  margin-bottom: 4.8rem;
}
.figure-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.figure-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
  color: #a9a9a9;
}
.figure-desc {
  font-size: 1.6rem;
  color: #999;
}

.figure-image[data-img="0"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-linda.jpg");
}
.figure-image[data-img="1"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-jacked.jpg");
}
.figure-image[data-img="2"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-frank.jpg");
}
.figure-image[data-img="3"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-nadia.jpg");
}
.figure-image[data-img="4"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-vertical.jpg");
}
.figure-image[data-img="5"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-nate.jpg");
}
.figure-image[data-img="6"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-konrad.jpg");
}
.figure-image[data-img="7"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-lakin.jpg");
}
.figure-image[data-img="8"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-nick.jpg");
}
.figure-image[data-img="9"] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("img/gallery-anthony.jpg");
}

.figure-text {
  width: 0%;
  transition: all 0.5s;
}
.open-text {
  width: 100% !important;
  padding: 2.4rem;
}

.open-figure {
  height: 35rem;
  width: 40rem;
  border: 4px solid #999;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: #1a1a1a;
  /* background: rgba(0, 0, 0, 0.5); */
}

a {
  color: #b3b3b3;
}

.everything-matters {
  font-size: 6.4rem;
  padding: 9.8rem;
  text-align: center;
  transform: translateX(80%);
  /* visibility: none; */
  /* display: none; */
  transition: all 1s;
  border-radius: 100px;
  /* display: block; */
  overflow: hidden;
}

.everything-matters.move-in {
  transform: translateX(0%);
}
.everything-matters[data-type="2"],
.everything-matters[data-type="4"],
.everything-matters[data-type="5"],
.everything-matters[data-type="6"],
.everything-matters[data-type="7"] {
  transform: translateX(0%);
  width: 100%;
  filter: grayscale(50%);
  display: block;

  opacity: 0;
  transition: all 2s;
}
.everything-matters[data-type="7"] {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.everything-matters[data-type="6"] {
  border-radius: 200px;
}

.everything-matters[data-type="5"],
.everything-matters[data-type="7"],
.everything-matters[data-type="6"] {
  width: 50%;
  transform: translateX(50%);
}

.mobile {
  visibility: none;
  opacity: 0;
  pointer-events: hidden;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  z-index: 99;
  font-size: 6.4rem;
  text-align: center;
  padding: 6.4rem;
  display: none;
}

@media (max-width: 57em) {
  .mobile {
    z-index: 999999;
    vibility: 1;
    opacity: 1;
    pointer-events: initial;
    display: block;
  }
}
